<link rel="stylesheet" href="/css/rent/rent.css" />

<div class="rent-heading">
  <h1>Consultorios medicos disponibles</h1>
</div>

<div class="body-rent">
  {{#if rents}}
  {{#each rents}}
  <div class="card">
    <div class="badge">
      En {{this.sell_rent}}
    </div>
    <img src="{{this.img}}" alt="{{this.title}}" class="img-rent" />
    <h1>{{this.title}}</h1>
    <p>{{this.description}}</p>
    <p class="price">
      $ {{this.price}}
      {{#if (eq this.sell_rent "alquiler")}}
      <span> /mes</span>
      {{/if}}
    </p>
    <a href="/rentas/{{this._id}}" class="btn">Mas información</a>
  </div>
  {{/each}}
  {{else}}
  <p class="message-error">{{message}}</p>
  {{/if}}
</div>